<div class="sidebar">
  {{#each items as |item|}}
    <div>
      {{#link-to 'styleguide.item' item.link class='item'}}
        {{item.name}}
      {{/link-to}}
    </div>
  {{/each}}
</div>
<br>
<div class="content">
  {{outlet}}
</div>
